body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url('./images/3274408.jpg');
    background-size: cover;
    margin: 0;
    position: relative; 
}

.container {
    max-width: 500px;
    width: 220px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: black;
    z-index: 1; 
}

.freepik-link {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    z-index: 2; 
    color: black;
}

.freepik-link:hover {
    text-decoration: underline;
}


input {
    padding: 20px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 5px;
    font-size: 1.5em;
}

input:focus {
    border: none;
    outline: none;
  }

.calculator {
    display: flex;
    flex-direction: column;
    gap: 10px;
  
}

.row {
    display: flex;
    justify-content: space-between;
}

button {
    height: 40px;
    width: 60px;
    font-size: 1.2em;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f57c00;
}
