body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    max-width: 500px;
    width: 220px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: black;
}

input {
    padding: 20px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 5px;
    font-size: 1.5em;
}

input:focus {
    border: none;
    outline: none;
  }

.calculator {
    display: flex;
    flex-direction: column;
    gap: 10px;
  
}

.row {
    display: flex;
    justify-content: space-between;
}

button {
    height: 40px;
    width: 60px;
    font-size: 1.2em;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f57c00;
}
