*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }
nav{
    height: 65px;
    background-color:#F6F8FC;
    display: flex;
  
    align-items: center;
   padding-left: 20px;
   gap: 10px;
   justify-content: space-between;

}
.search {
    flex-grow: 1; 
    /* max-width: 600px; */
    width: 40%;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #EAF1FB;
    font: 13px / 27px Roboto, Arial, sans-serif;
    margin-right: 20px;
}

.search-input {
    font-size: 16px;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex-grow: 1; 
}

.search i.fa-sliders {
    margin-left: 300px; 
}
.question{
    border: 1px solid black;
    border-radius: 70%;
}
.profile{
    border-radius: 60%;
}
.main-container{
    height: 100vh;
    width: 100%;

}
.sidebar{
    background-color:#F6F8FC;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    float: left;
}
.right-sidebar{
    background-color:#F6F8FC;
   height: 100%;
   width: 5%;
   float: right;
   display: flex;
   flex-direction: column;
   gap: 20px; 
  
}

.pencil{
    border-radius: 16px;
    color: #001d35;
    padding: 0 24px 0 0;
    box-shadow: 0 1px 2px 0 #0000, 0 1px 3px 1px #0000;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    font-size: 0.875rem;
    letter-spacing: normal;
    background-color: #C2E7FF;
    align-items: center;
     display: inline-flex;
    font-weight: 500;
    height: 56px;
    width: 120px;
    overflow: hidden;
}
.hover-eff:hover{
    background-color: #D3E3FD;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
.mainn{
    width: 75%;
    height: 100%;
    background-color: white;
    float: left;
    border-radius: 5px;
    overflow: scroll;
    word-wrap: break-word;
   font-size: 1vw;
}
.main-header{
    height: 50px;
    width: 100%;
    background-color: red;
}
.main-buttons{
    height: 56px;
    width: 100%;
  
    display: flex;
}
.primaryy{
    height: 56px;
    width: 17.5%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.promo {
    width: 25%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden; 
    cursor: pointer;
}

.itts {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.itts2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 8px;
    width: 100%;
}

.new-btn {
    border: 1px solid transparent;
    background-color: #188038;
    border-radius: 36px;
    padding: 2px 8px;
    font-size: 12px;
    height: fit-content;
}

.promo-emails {
    margin-top: 2px; 
    color: #5f6368;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.socail{
    height: 56px;
    width: 25%;
    cursor: pointer;
    display: flex;
    align-items: center;

}
.update{
    height: 56px;
   width: 25%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.content-div{
    height: 40px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}
.truncated-text {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

/* test */


.toolbar {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
}

.three{
    display: flex;
    align-items: center;
}

.toolbar-item,
.toolbar-items {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.toolbar-item input[type="checkbox"],
.toolbar-items input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #666;
    background-color: #f2f2f2;
    border-radius: 2px;
    position: relative;
    margin-right: 5px;
}

.toolbar-item input[type="checkbox"]::after {
    content: '▾';
    position: absolute;
    top: -2px;
    right: -20px;
    font-size: 12px;
    color: #666;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    padding: 5px;
}

.icon-button:hover {
    color: #333;
}

.toolbar-info {
    margin-left: auto;
    margin-right: 20px;
    color: #666;
}

.toolbar-navigation .nav-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #999;
}

.toolbar-navigation .nav-button:hover {
    color: #333;
}

/* Media Querries */
@media (max-width:700px){
    .question,.dot,.gear{
        display: none;
    }
    .logo{
        width: 70px;
    }
    .mainn {
        width: 65%;
    }
    .sidebar{
        width: 35%;
    }
    .right-sidebar{
        display: none;
    }
    .mainn{
        font-size: 1.5vw;
    }
    .main-buttons{
        display: none;
    }

}
@media (max-width:445px){
    .sidebar{
        width: 35%;
    }
    .right-sidebar{
        display: none;
    }
}
@media (max-width:320px){
    .logo {
        width: 35px;
    }
    .mainn{
        width: 55%;
    }
    .sidebar{
        width: 45%;
    }
   .search-input {
        font-size: 11px;
      
    }
    .profile{
        margin-top: 3px;
    
    }
}
@media (max-width:445px){
    .pencil{
        width: 93px;
    }
}
@media (max-width:380px){
   .logo{
    display: none;
   }
}