* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.main-container {
  width: 100%;
  height: 100vh; 
}

/* Hero section */

.main-hero-container{
  width: 100%;
  background-color: #f7f7f9;
}
.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f7f7f9; 
}

.promo-image {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
}


/* Macbook air heros */
.macbook-container{
background-image: url('./images/screen.jpg');
background-size: cover;
height: 70vh;
width: 100%;
background-position: center;
text-align: center;
  }
  .macbook-heading {
    text-align: center;
    margin-top: 10px;
  }
  /* Macbook air heros */

/* Navbar */
.navbar {
  height: 45px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  color: #f5f5f7;
  position: fixed;
  top: 0%;
}

.fa-apple {
  font-size: 30px;
}

.items{
  display: flex;
  align-items: center;
  text-align: center;
}

.navbar .items ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #f5f5f7;
}

.navbar .items ul li,
.navbar .items ul i {
  margin: 0 10px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

li {
  margin: 0 10px;
}

li a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  transition: color 0.3s;
}

li a:hover {
  color: #007bff;
}

.fa-magnifying-glass,
.fa-bag-shopping {
  margin-left: 15px;
  font-size: 20px;
  cursor: pointer;
}

/* Hero Section */
.hero-img {
  display: flex;
  justify-content: center;
  height: 500px;
  background-color: #f5f5f7;
}

.hero-main-img {
  background-image: url('../apple-web-clone/images/buy-mac-or-ipad-hero-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 25px;
  height: 500px;
  width: 550px;
}

.btn-style {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  color: #007aff;
  background-color: #f5f5f7;
  background-color: #ffffff;
  border: 0.5px solid #007aff;
  border-radius: 24px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-style:hover {
  background-color: #007aff;
  color: #ffffff;
}

.learn-more-button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007aff;
  border: 0.5px solid #007aff;
  border-radius: 24px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.iphone-heading {
  color: white;
  text-align: center;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}

.hero-iphone {
  background-image: url('./images/hero-iphone-imgg.jpeg');
  background-size: cover;
  height: 55vh;
  width: 100%;
  background-position: center;
  text-align: center;
}

.shop-btn {
  background-color: black;
  color: #007aff;
}
/* cards */
.card-box{
  height: 600px;
          width: 100%;
          background-color: white;
          margin-top: 15px;
          margin-left: 1%;
          margin-right: 1%;
          background-position: center;
}
.txt-style {
  background-color: #f5f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* card1 */
.promoo{
  background-image: url(./images/promo.jpg);
  background-size: cover;
         
  }
  .promo-heading {
    padding-top: 10px;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}  
  .promo-watch-btn {
    background-color: transparent;
    border: 0.5px solid white;
    color: white;
  }
  
  
  .promo-watch-btn:hover{
    background-color: white;
    color: black;
   
  }
  
  .promo-watch-film {
    background-color: transparent;
    border: 0.5px solid white;
  }
  
  .promo-watch-film:hover {
    background-color: white;
    color: black;
  }
  .buy-button{
    background-color: transparent;
  }
  .buy-button:hover{
    background-color: #007bff;
  }
/* card1 */

/* card2 */
.apple-intt{
  background-image: url(./images/promo_ai__mobile-version.jpg);
  background-size: cover;
  
}
.apple-int-heading {
  padding-top: 10px;
  text-align: center;
  display: block;
  margin-bottom: 100px;
}

/* card2 */

/* card3 */

.ipad-proo{
  background-image: url('./images/ipd-img-card.jpg');
  background-size: cover;
  
}
.ipad-heading {
  color: white;
}

/* card3 */

/* card logo for last 3 cards */

.logo-style {
  display: inline;
  align-items: center;
}

.logo-style i {
  font-size: 40px;
}

.card-item-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-item-logo p {
  font-size: 30px;
  font-weight: bold;
}
/* card logo for last 3 cards */

/* card4 */
.watch-seriess{
  background-image: url('./images/promo_apple_watch_series.jpg');
  background-size: cover;
  background-position: center;
}

.watch-series-heading {
  display: flex;
  justify-content: center;
  display: block;
  color: white;
  padding: 0;
}


/* card4 */

/* card5 */

.apple-cardd{
  background-image: url('./images/card-png.jpg');
  background-size: cover;
  background-position: center;
}
/* card5 */


/* card6 */
.apple-tradee{
  background-image: url('./images/promo_iphone_tradein.jpg');
  background-size: cover;
  background-position: center;
}


/* card6 */

/* Carousel Section */
.carousel-img {
  max-height: 600px;
  object-fit: cover;
}
.carousel-caption a {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
.carousel-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: #ffffff;
  border-radius: 24px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Footer Section */
footer {
  width: 100%;
  background-color: #f5f5f7;
  display: flex;
  justify-content: center;
}


.footer-items {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 0;
  background-color: #f5f5f7;

}


.footer-first-column,
.footer-second-column,
.footer-third-column,
.footer-fourth-column,
.footer-fifth-column {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.footer-first-column a,
.footer-second-column a,
.footer-third-column a,
.footer-fourth-column a,
.footer-fifth-column a {
  margin: 2px;
  color: black;
  text-decoration: none;
}
#menu {
  display: none;
}
.hidden-items {
  margin: 30px;
  display: none;
}

/* Media Queries */
@media (max-width: 833px) {
  .navbar .items ul li,
  .navbar .items ul i {
    display: none;
  }
  .navbar .items ul .apple-logo,
  .navbar .items ul .fa-magnifying-glass,
  .navbar .items ul .fa-bag-shopping,
  .navbar .items ul #menu {
    display: inline-block;
  }

}
@media (max-width: 768px) {

  .iphone-heading {
    color: white;
    text-align: center;
  }

  .hero-iphone {
    min-height: 25vh;
    width: 100%;
  }

  .footer-items {
    display: none;
  }

  .hidden-items {
    display: inline-block;
  }


}