* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

.containerr {
    width: 100%;
    height: 100%;
}

/* Header */
.headerr {
    width: 100%;
    height: 80px;
    text-decoration: none;
}

.logo {
    gap: 4px;
}

.logo a {
    color: #000;
    text-decoration: none;
}

.headerr ul {
    color: #b7b7b7;
    gap: 30px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #b7b7b7;
}

.link-switches {
    margin-left: 20px;
    gap: 20px;
}

.link-switches a {
    color: #000;
}
.hamburger{
display: none !important;
}

/* Hero Section */
.hero-sectionn {
    height: 320px;
    width: 100%;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.6;
}

.text span {
    display: block;
}

.hero-sectionn h2 {
    font-size: 36px;
    line-height: 1.4;
}

.hero-buttons {
    margin: 10px;
    margin-left: 20px;
    gap: 20px;
}

.hero-buttons ul {
    margin-left: 20px;
    gap: 30px;
}

/* Cards */
.cardss {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 0 15px;
}

.cardss .box {
    height: 350px;
    width: calc(25% - 20px);
    margin: 10px 0;
    position: relative;
}

.div-txt {
    position: absolute;
    bottom: 0;
    color: white;
    display: none;
}

.box:hover .div-txt {
    display: inline-block;
}

.cardss .box {
    background-size: cover;
    background-position: center;
}

.card1
 { background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/1.jpeg');
 }
.card2 {
     background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/3.jpeg'); 
    }
.card3 {
     background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/2.jpeg');
     }
.card4 {
     background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/4.jpeg');
     }
.card5 {
     background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/5.jpeg');
     }
.card6 {
     background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/6.jpeg'); 
    }
.card7 {
     background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/7.jpeg');
     }
.card8 { background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/20.jpeg'); 
}
.card9 {
     background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/9.jpeg');
     }
.card10 {
     background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/8.jpeg'); 
    }
.card11 {
     background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/11.jpeg');
     }
.card12 {
     background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/12.jpeg');
     }
.card13 { 
    background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/10.jpeg');
 }
.card14 {
     background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/17.jpeg');
     }
.card15 {
     background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/15.jpeg');
     }
.card16 {
     background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/13.jpeg'); 
    }
.card17 {
     background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/14.jpeg');
     }
.card18 { 
    background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/18.jpeg'); 
}
.card19 { 
    background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/19.jpeg'); 
}
.card20 {
     background-image: url('../colorlib-sunzine-clone-using-bootsrap-flex/images/16.jpeg'); 
    }

/* Spinner */
.spinner-border {
    margin-left: 50%;
}

/* Footer */
footer {
    height: 80px;
    width: 100%;
    background-color: #222222;
    color: white;
}

#footer-logo a {
    color: white;
    text-decoration: none;
}

.social-link {
    gap: 10px;
    color: white;
}

.social-link a {
    color: white;
}

/* Media Queries */
@media screen and (max-width: 992px) {
    .cardss .box {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .cardss .box {
        width: calc(50% - 20px);
    }

    .links ul li {
        display: none;
    }
    .fa-magnifying-glass{
        display: none !important;
    }
    .hamburger{
        display: inline-block !important;
    }
}

@media screen and (max-width: 576px) {
    .cardss .box {
        width: 100%;
    }

    .links ul li {
        display: none;
    }
}
